/*전체 레이아웃 관리*/
html{
	font-family: Arial, Helvetica, sans-serif;
}

nav{
	height:3rem;
	display:flex;
	width:100%;
	flex-flow:row-reverse;
	border-bottom:0.1rem black solid;
	align-items:center;
	background:gray;
	padding-right:3rem;
	position:fixed;
	z-index:10;
	border:solid 0.2rem white;
}

nav input{
	height:2rem;
	margin-right:1rem;
}

.search_string{
	width:30rem;
	margin-right:0;
}

.search_string_submit{
	height:2.4rem;
}

.homebody{
	display:flex;
	overflow:hidden;
	height:auto;
	margin-top:3rem;
}

.ports{
	display:flex;
	flex-flow:row wrap;
	padding-left:1rem;
}

body{
	margin:0;
	width:100vw;
}

ul{
	border-right:1px solid black;
	width:11rem;
	margin : 0;
	padding-left:1.5rem;
	padding-top:1rem;
	overflow-y:scroll;
	height:auto;
}

ul li{
	list-style-position: inside;
	list-style-type: square;
}

h1{
	text-align:center;
	border-bottom:black solid 1px;
	padding:1rem;
	background:RGB(070,172,161);
	color:white;
	margin:0;
	font-size:2.5rem;
	position:relative;
	width:100vw;
	top:3rem;
	border:solid 0.2rem white;
}

/*새 포트 생성 폼*/

.newportform{
	height:28rem;
	width:20rem;
	display:none;
	position:fixed;
	top:10rem;
	right:50rem;
	flex-flow:column;
	justify-content:space-evenly;
	align-items:center;
	border:solid black 0.01rem;
	border-radius:5%;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:white;
	}

.newportsubmit,.newportquit{
	margin-top:1.2rem;
	height:2rem;
	width:5rem;
	margin-bottom:1rem;
	background:#04AA6D;
	border-radius:0.5rem;
	border: none;
  cursor: pointer;
	color:white;
	opacity:0.8;
}

.newportsubmit {
  color: black;
  border: 0.2rem solid #4CAF50;
}

.newportsubmit:hover {
  background-color: #4CAF50;
  color: white;
}

.newportquit{
	background-color: red;
	margin-right:1rem;
}

.newportquit:hover{
	background-color: #f44336;
  color: white;
}

.port_name_part{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	height:1.2rem;
}

.port_name_part input{
	margin:0.2rem;
	height:1.5rem;
}

.TR{
	height:1rem;
}

/*새 노드 생성 폼*/

.newnodeform{
	display:none;
	position:fixed;
	flex-flow:row wrap;
	justify-content:center;
	width:10rem;
	position:absolute;
	left:0.1rem;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border:0.01rem solid black;
	border-radius:5%;
	background:white;
}

.newnodetext{
	display:block;

	background:#f1f1f1;
	height:2rem;
	text-align:center;
	width:8.5rem;
}

.newnodequit,.newnodesubmit{
	display:block;
	margin-top:1rem;
	height:2rem;
	margin-bottom:1rem;
	background:#04AA6D;
	border: none;
  cursor: pointer;
	color:white;
	opacity:0.8;
}

.newnodequit{
	background-color: red;
	margin-right:1rem;
}


/*버튼들 관리*/

.deleteform{
	display:inline;
}

.deletenode,.createnode{
	height:3rem;
	width:3rem;
	font-weight:900;
	font-size:2rem;
	background:black;
	color:white;
	border:0.1rem solid black;
	border-radius:50%;
	margin-top:3rem;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
