/*mdf 100 =>지금의 PORT templete */

.port_controlers{
	display:flex;
	flex-flow:row wrap;
	height:9.3rem;
	width:13rem;
}

.deleteport,.spread{
	height:1.7rem;
	width:13rem;
}

.set_disable_select,.set_disable_button,.remove_disable_select,.remove_disable_button{
	height:1.7rem;
	width:6.32rem;
}

.set_disable_button{
	font-weight:900;
	color:white;
	background:red;
}

.remove_disable_button{
	font-weight:900;
	color:white;
	background:green;
}

#disable_party_block{
	width:13rem;
}

.deleteport{
	font-weight:900;
	color:white;
	background:red;
}

.mdf100 .portsinport{
	width:13rem;
	display:flex;
	flex-flow:wrap;
}

.mdf100{
	margin-top:1rem;
	margin-bottom:6.2rem;
	margin-right:2rem;
	display:flex;
	flex-flow:wrap;
	width:13rem;
}

.mdf100 .num{
	border:solid black 0.1rem;
	width:2.40109rem;
	margin:0;
	height:2rem;
	text-align:center;
	font-size:1rem;
	font-weight:400;
}

.mdf100 .nodetitle,.mdf100 .porttitle{
	text-align:center;
	width:13rem;
}

.mdf100 .h{
	border:solid black 0.1rem;
	text-align:center;
	background:gray;
	color:white;
}

.mdf100 .port{
	width:2.40109rem;
}
.mdf100 .use{
	width:7rem;
}
.mdf100 .refer{
	width:3rem
}

.mdf100 .usage{
	width:6.701rem;
	text-align:center;
}

.mdf100 .ref{
	width:2.7rem;
	text-align:center;
}

.mdf100 .label,.display{
	border:solid black 0.1rem;
	text-align:center;
}

.mdf100 .display{
	width:2.1rem;
}

.mdf100 .ing{
	width:4rem;
	background:green;
}

.mdf100 .disable{
	width:4rem;
	background:red;
}
.mdf100 .bridge{
	width:4rem;
	background:orange;
}


/*cdf128*/

.cdf128{
	margin-top:2rem;
	margin-bottom:2rem;
	margin-right:2rem;
	/*border:solid black 0.1rem;*/
}

.cdf128 .header{
	display:flex;

}

.cdf128 .title{
	display:flex;
	flex-flow:column;

	margin-right:2rem;
}

.cdf128 .ports{
	display:flex;
	flex-flow:column-reverse wrap;
	width:47rem;
	height:13rem;
}

.cdf128 .spread{
	margin-top:1rem;
	width:5rem;
	height:1.7rem;
	align-self:center;
}

.cdf128 .num{
	border:solid black 0.1rem;
	width:1.3rem;
	height:3rem;
	font-size:0.8rem;
	text-align:center;
}

.cdf128 .nodetitle{

	text-align:center;
	width:10rem;
}

.cdf128 .porttitle{

	text-align:center;
	width:10rem;
	border-top:solid black 0.1rem;
}

.cdf128 .h{
	border:solid black 0.1rem;
	text-align:center;
	background:gray;
	color:white;
}
.cdf128 .port{
	width:2.40109rem;
}
.cdf128 .use{
	width:7rem;
}
.cdf128 .refer{
	width:3rem
}

.cdf128 .usage{
	width:6.701rem;
	text-align:center;
}

.cdf128 .ref{
	width:2.7rem;
	text-align:center;
}

.cdf128 .label,.cdf128 .display{
	margin-top:1rem;
	border:solid black 0.1rem;
	text-align:center;
}

.cdf128 .display{
	width:2.1rem;
}

.cdf128 .ing{
	width:4rem;
	background:green;
}

.cdf128 .disable{
	width:4rem;
	background:red;
}
.cdf128 .bridge{
	width:4rem;
	background:orange;
}
